/*
 * OWASP Dependency-Track
 * REST API of OWASP Dependency-Track
 *
 * OpenAPI spec version: 4.12.6
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.vaadin.dtrack.api;

import com.vaadin.dtrack.ApiCallback;
import com.vaadin.dtrack.ApiClient;
import com.vaadin.dtrack.ApiException;
import com.vaadin.dtrack.ApiResponse;
import com.vaadin.dtrack.Configuration;
import com.vaadin.dtrack.Pair;
import com.vaadin.dtrack.ProgressRequestBody;
import com.vaadin.dtrack.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.vaadin.dtrack.api.IsTokenBeingProcessedResponse;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EventApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public EventApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EventApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for isTokenBeingProcessed1
     * @param uuid The UUID of the token to query (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call isTokenBeingProcessed1Call(UUID uuid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v1/event/token/{uuid}"
            .replaceAll("\\{" + "uuid" + "\\}", apiClient.escapeString(uuid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call isTokenBeingProcessed1ValidateBeforeCall(UUID uuid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'uuid' is set
        if (uuid == null) {
            throw new ApiException("Missing the required parameter 'uuid' when calling isTokenBeingProcessed1(Async)");
        }
        
        com.squareup.okhttp.Call call = isTokenBeingProcessed1Call(uuid, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Determines if there are any tasks associated with the token that are being processed, or in the queue to be processed.
     * &lt;p&gt;   This endpoint is intended to be used in conjunction with other API calls which return a token for asynchronous tasks.   The token can then be queried using this endpoint to determine if the task is complete:   &lt;ul&gt;     &lt;li&gt;A value of &lt;code&gt;true&lt;/code&gt; indicates processing is occurring.&lt;/li&gt;     &lt;li&gt;A value of &lt;code&gt;false&lt;/code&gt; indicates that no processing is occurring for the specified token.&lt;/li&gt;   &lt;/ul&gt;   However, a value of &lt;code&gt;false&lt;/code&gt; also does not confirm the token is valid,   only that no processing is associated with the specified token. &lt;/p&gt;
     * @param uuid The UUID of the token to query (required)
     * @return IsTokenBeingProcessedResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IsTokenBeingProcessedResponse isTokenBeingProcessed1(UUID uuid) throws ApiException {
        ApiResponse<IsTokenBeingProcessedResponse> resp = isTokenBeingProcessed1WithHttpInfo(uuid);
        return resp.getData();
    }

    /**
     * Determines if there are any tasks associated with the token that are being processed, or in the queue to be processed.
     * &lt;p&gt;   This endpoint is intended to be used in conjunction with other API calls which return a token for asynchronous tasks.   The token can then be queried using this endpoint to determine if the task is complete:   &lt;ul&gt;     &lt;li&gt;A value of &lt;code&gt;true&lt;/code&gt; indicates processing is occurring.&lt;/li&gt;     &lt;li&gt;A value of &lt;code&gt;false&lt;/code&gt; indicates that no processing is occurring for the specified token.&lt;/li&gt;   &lt;/ul&gt;   However, a value of &lt;code&gt;false&lt;/code&gt; also does not confirm the token is valid,   only that no processing is associated with the specified token. &lt;/p&gt;
     * @param uuid The UUID of the token to query (required)
     * @return ApiResponse&lt;IsTokenBeingProcessedResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IsTokenBeingProcessedResponse> isTokenBeingProcessed1WithHttpInfo(UUID uuid) throws ApiException {
        com.squareup.okhttp.Call call = isTokenBeingProcessed1ValidateBeforeCall(uuid, null, null);
        Type localVarReturnType = new TypeToken<IsTokenBeingProcessedResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Determines if there are any tasks associated with the token that are being processed, or in the queue to be processed. (asynchronously)
     * &lt;p&gt;   This endpoint is intended to be used in conjunction with other API calls which return a token for asynchronous tasks.   The token can then be queried using this endpoint to determine if the task is complete:   &lt;ul&gt;     &lt;li&gt;A value of &lt;code&gt;true&lt;/code&gt; indicates processing is occurring.&lt;/li&gt;     &lt;li&gt;A value of &lt;code&gt;false&lt;/code&gt; indicates that no processing is occurring for the specified token.&lt;/li&gt;   &lt;/ul&gt;   However, a value of &lt;code&gt;false&lt;/code&gt; also does not confirm the token is valid,   only that no processing is associated with the specified token. &lt;/p&gt;
     * @param uuid The UUID of the token to query (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call isTokenBeingProcessed1Async(UUID uuid, final ApiCallback<IsTokenBeingProcessedResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = isTokenBeingProcessed1ValidateBeforeCall(uuid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IsTokenBeingProcessedResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
